<div class="custom-grid">
  <table class="table table-striped table-hover header-fixed">
    <thead>
    <tr class="toolbar-row" ng-include="'scripts/custom/custom-grid/views/toolbarRowTemplate.html'" ng-if="grid._options.editable">
    </tr>
    <tr class="header-row" ng-include="'scripts/custom/custom-grid/views/headerRowTemplate.html'">
    </tr>
    <tr class="filter-row" ng-if="grid._options.filterable" ng-include="'scripts/custom/custom-grid/views/filterRowTemplate.html'">
    </tr>
    </thead>
    <tbody custom-scroll silent="!grid.virtualization">
    <tr ng-repeat="dataItem in grid.view track by dataItem.__uid" ng-click="grid.select(dataItem)"
        ng-class="{'selected': dataItem.__selected }">
      <td height="100%" ng-if="grid._options.editable" data-column="checker">
        <i ng-show="dataItem.__selected" class="fa fa-check"></i>
      </td>
      <td height="100%" ng-repeat="column in ::grid.columns" data-column="{{column}}">
        <div ng-switch="::grid._options.editable" class="pull-center">
          <div ng-switch-when="true">
            <div ng-switch="!!dataItem.__editing">
              <div ng-switch-when="true">
                <input class="form-control" ng-click="$event.stopPropagation()" type="text"
                       ng-model="dataItem.__editing[column]">
              </div>
              <div ng-switch-when="false">
                <span ng-bind="dataItem[column]"></span>
              </div>
            </div>
          </div>
          <div ng-switch-when="false">
            <span ng-bind="::dataItem[column]"></span>
          </div>
        </div>
      </td>
      <td ng-if="grid._options.editable" height="100%" ng-include="'scripts/custom/custom-grid/views/actionsColumnTemplate.html'" data-column="actions"></td>
    </tr>
    </tbody>
  </table>
  <div ng-controller="PagingController">
    <div ng-switch="grid.virtualization">
      <div ng-switch-when="true">
        <span>Page: {{grid.page()}} of {{grid.totalPages()}}</span>
      </div>
      <div ng-switch-when="false">
        <pagination total-items="grid.total()"
                    ng-model="currentPage"
                    items-per-page="grid.paging.pageSize"
                    ng-change="page(currentPage)">
        </pagination>
      </div>
    </div>

  </div>
</div>
