<th ng-if="grid._options.editable" data-column="checker">
  <button ng-disabled="grid.selected.length === 0 && !grid.filters.__selected"
          class="btn btn-default pull-right"
          ng-click="filterBySelection();"
          ng-class="{'active': grid.filters.__selected}"
          tooltip="Filter by selection">
    <i class="fa fa-check-square-o"></i>
  </button>
</th>
<th ng-repeat="column in ::grid.columns" data-column="{{column}}">
  <div ng-if="grid._options.filterable">
    <div ng-switch="column">
      <div ng-switch-when="Age">
        <div ng-controller="AgeColumnFilterController" class="pull-center">
          <select ng-model="grid.filters.Age" ng-options="option.value as option.name for option in ages"
                  class="form-control"
                  ng-change="grid.filter()">
          </select>
        </div>
      </div>
      <div ng-switch-default>
        <div class="pull-center">
          <input type="text" placeholder="{{column}}" ng-model="grid.filters[column]" style="width: 100%"
                 class="form-control"
                 ng-model-options="{debounce: {default: 1000 }}" ng-change="filter()">
        </div>
      </div>
    </div>
  </div>
</th>
<th data-column="actions" ng-if="grid._options.editable">
&nbsp
</th>
