<th data-column="checker" height="100%" ng-if="grid._options.editable">&nbsp</th>
<th ng-repeat="column in ::grid.columns" data-column="{{column}}">
  <div ng-click="sort(column, $event)" class="pull-center">
    <i ng-if="grid._options.sortable"
       ng-show="grid.sorting.column === column"
       class="fa pull-left"
       ng-class="{'fa-sort-desc' : grid.sorting.direction === 'desc', 'fa-sort-asc' : grid.sorting.direction === 'asc'}">
    </i>
    <span ng-style="{'cursor': (grid._options.sortable ? 'pointer': 'auto')}" ng-bind="column"></span>
  </div>
</th>
<th height="100%" ng-if="grid._options.editable" data-column="actions">&nbsp</th>
