<th colspan="7" style="width: 100%">
    <button class="btn btn-default" tooltip="Check all viewed" ng-if="grid._options.editable" ng-click="grid.selectAll()">
      <i class="fa fa-check"></i>
    </button>
    <button ng-disabled="grid.selected.length === 0" class="btn btn-default pull-right" ng-click="remove();"
            tooltip="Remove selected items"><i class="fa fa-trash-o"></i></button>
    <button ng-disabled="grid.selected.length === 0" class="btn btn-default pull-right"
            ng-click="grid.clearSelection();"
            tooltip="Clear selection"><i class="fa fa-ban"></i></button>
</th>
